pipeline/pl_refreshServ.json
{
	"name": "pl_refreshServ",
	"properties": {
		"activities": [
			{
				"name": "Call dataset refresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get AAD Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://api.powerbi.com/v1.0/myorg/groups/@{pipeline().parameters.workspaceGuid}/datasets/@{pipeline().parameters.datasetGuid}/refreshes",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
							"type": "Expression"
						}
					},
					"body": {
						"notifyOption": "NoNotification"
					}
				}
			},
			{
				"name": "Until dataset refresh completion",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Call dataset refresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(first(json(string(activity('Get dataset refresh status').output)).value).status,'Unknown'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 60 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						},
						{
							"name": "Get dataset refresh status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 60 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.workspaceGuid,'/datasets/',pipeline().parameters.datasetGuid,'/refreshes?$top=1')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								}
							}
						}
					],
					"timeout": "0.03:00:00"
				}
			},
			{
				"name": "If dataset refresh failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until dataset refresh completion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(first(json(string(activity('Get dataset refresh status').output)).value).status,'Failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SaveErrorMessages",
							"description": "In case of an error in processing of the dataset, the actual messages are saved in the pipeline variable \"ProcessingErrors\".",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ProcessingErrors",
								"value": {
									"value": "@json(first(json(string(activity('Get dataset refresh status').output)).value).serviceExceptionJson).errorDescription",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get AAD Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Secret from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://login.microsoftonline.com/@{pipeline().parameters.TenantId}/oauth2/token",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=@{pipeline().parameters.SPClientId}&client_secret=@{activity('Get Secret from AKV').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Secret from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://KeyVaultDataX.vault.azure.net/secrets/PBIServPrincipalAPISecret?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"TenantId": {
				"type": "String",
				"defaultValue": "89248974-515e-4d65-9469-ab424abfd2d2"
			},
			"SPClientId": {
				"type": "String",
				"defaultValue": "95e2c30e-8533-4c18-b3c7-4718847e9f28"
			},
			"workspaceGuid": {
				"type": "string",
				"defaultValue": "ac1176e8-1b38-40d3-91e4-3b8f5983aa5f"
			},
			"datasetGuid": {
				"type": "string",
				"defaultValue": "713b120c-7dc2-42bf-b9da-7e5391e251ca"
			}
		},
		"variables": {
			"ProcessingErrors": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PowerBI"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-13T11:55:17Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}